body{
    font-family:'Inter', sans-serif;
    
}
.logo{
    height:80px;
    width:80px;
    margin-bottom: 24px;
}
 .login-header{
    font-size: 30px;
    line-height: 38px;
    font-weight: 600px;
    color: #181D27;
    margin-top:0px;
    margin-bottom: 24px;
 }


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    text-align: center;    
    width: 360px;
    margin: 0 auto;
}

.login-tabs{
    width: 360px;
    display: flex;
    background-color: #FAFAFA;    
    margin-bottom: 32px;
    border: 1px solid #E9EAEB ;
    border-radius: 8px;
}

.login-tab{
    flex:1;
    background-color: transparent;
    border: none;
    color: #717680;
    font-family: 'Inter', sans serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 64px;
    cursor: pointer;
    text-decoration: none;
}

.login-tab:hover{
   color:  #414651;
   
}
.login-tab-active{
    border: 1px solid #D5D7DA;
    background-color: white;
    color: #414651;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 69px;
    border-radius: 8px;
    cursor: pointer;
}
.label{
    display:flex;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color:#414651;
    margin-bottom: 6px;
}

.form-input{
    width: 360px;
    border-radius: 8px;
    border: 1px solid #D5D7DA;
    padding: 10px 14px 10px 14px;
    font-family:'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom:20px;
    color: #181D27;  
    box-sizing: border-box;  
}

.form-input:hover {
    border-color:#9E77ED;
    box-shadow: inset 0 0 0 1px #9E77ED;
}
.form-input:focus {
    outline: none; 
    border-color: #7F56D9; 
    box-shadow: inset 0 0 0 1px #9E77ED; 
}

.form-input::placeholder{
     color:#717680;
     font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}



.form-button{
    width: 360px;
    justify-content: center;
    border-radius: 8px;
    padding: 10px 0px;
    background-color: #7F56D9;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height:24px;
    font-weight: 600;
    border: 1px solid #7F56D9;
    margin-bottom: 16px;
    cursor: pointer;

}
.text-button{
    color: #7F56D9;
    background-color: transparent;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
}

.form-button:hover{
    background-color: #6941C6;
}


.text-button:hover{
    color: #53389E;
}